<section class="my-lg-14 my-8" *ngIf="categoryDetail$ | async as category">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-3 col-md-4 mb-4 mb-md-0">
        <div class="card-body">
          <h4 class="card-title bold">Categories</h4>
          <ul class="navbar-nav">
            <li
              [routerLink]="'/categories/' + categories.id"
              *ngFor="let categories of categories$ | async"
              class="nav-item"
            >
              <a class="nav-link">{{ categories.name }}</a>
            </li>
          </ul>
        </div>
        <form [formGroup]="rangePriceForm">
          <h6>Price</h6>
          <input
            type="text"
            formControlName="minPrice"
            placeholder="Price from"
            class="form-control my-1"
          /><input
            type="text"
            formControlName="maxPrice"
            placeholder="Price to"
            class="form-control my-1"
          />
        </form>
      </div>
      <div
        class="col-12 col-lg-9 col-md-8"
        *ngIf="products$ | async as products"
      >
        <!-- card -->
        <div class="card mb-4 bg-light border-0">
          <!-- card body -->
          <div class="card-body p-9">
            <h2 class="mb-0 fs-1">{{ category.name }}</h2>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-4">
            <a
              ><span class="text-primary">{{ products.length }}</span> Products
              found</a
            >
          </div>
          <div class="col-4">
            <select class="form-select" [formControl]="sort">
              <option
                *ngFor="let item of sortOption$ | async"
                [value]="item.value"
              >
                {{ item.name }}
              </option>
            </select>
          </div>
        </div>

        <div
          class="card card-product contaimer my-2"
          *ngFor="let product of paginationProducts$ | async"
        >
          <div class="card-body row">
            <div class="col-5">
              <div class="text-center position-relative">
                <!-- img -->
                <a
                  ><img
                    [src]="product.imageUrl"
                    alt="Grocery Ecommerce Template"
                    class="mb-3 img-fluid"
                /></a>
              </div>
            </div>
            <div class="col align-self-center">
              <span>{{ category.name }}</span>
              <!-- title -->
              <h2 class="fs-6">{{ product.name }}{{ product.ratingValue }}</h2>

              <!--raiting-->
              <small class="text-warning">
                <i
                  *ngFor="let val of product.starsRating"
                  class="bi"
                  [ngClass]="{
                    'bi-star-fill': val === 1,
                    'bi-star': val === 0,
                    'bi-star-half': val === 0.5
                  }"
                ></i>
              </small>
              <span>{{ product.ratingValue }}({{ product.ratingCount }})</span>
              <!-- price -->

              <div>
                <span class="text-dark">${{ product.price }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="col-4">
            <h6><b>Limit</b></h6>
            <nav>
              <ul class="pagination">
                <li class="page-item" *ngFor="let item of pageSize$ | async">
                  <a class="page-link" (click)="setPageSize(item)">{{
                    item
                  }}</a>
                </li>
              </ul>
            </nav>
          </div>

          <div class="col-4">
            <h6><b>Pagination</b></h6>
            <nav>
              <ul class="pagination">
                <li class="page-item" *ngFor="let item of pageNumber$ | async">
                  <a class="page-link" (click)="setPageNumber(item)">{{
                    item
                  }}</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
