<section class="my-lg-14 my-8">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3 col-md-4 mb-6 mb-md-0">
                <ul class="nav nav-category">
                    <h5 class="mb-3">Categories</h5>
                    <li *ngFor="let item of categories$ | async" class="nav-item border-bottom w-100"><a
                            [routerLink]="'/categories/' + item.id" class="nav-link">{{item.name}}<i
                                class="feather-icon icon-chevron-right"></i></a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-8 col-md-6">
                <ng-container *ngIf="categoryData$ | async as item"><!-- card -->
                    <div class="card mb-4 bg-light border-0"> <!-- card body -->
                        <div class="card-body p-9">
                            <h2 class="mb-0 fs-1">{{item.name}}</h2>
                        </div>
                    </div>

                </ng-container>

                <section class="my-lg-14 my-8">

                    <div class="d-lg-flex">
                        <div class="container row col-12" *ngIf="productsInCategory$ | async as products">
                            <div class="col-9">
                                {{products.length}} Products found
                            </div>
                            <div class="col-3">
                                <select class="form-select">
                                    <option *ngFor="let item of sortingOptions$ | async" [value]="item" (click)="onSortingSelectionChanged(item)">{{item.name}}
                                    </option>
                                </select>
                            </div>


                        </div>
                    </div>

                    <div class="row g-4  row-cols-1 mt-2" *ngIf="categoryData$ | async as categoryData">
                        <div *ngFor="let item of productsInCategory$ | async" class="col">
                            <!-- card -->
                            <div class="card card-product">
                                <!-- card body -->
                                <div class="card-body">
                                    <div class=" row align-items-center">
                                        <!-- col -->
                                        <div class="col-md-4 col-12">

                                            <div class="text-center position-relative ">

                                                <!-- img --><img [src]="item.imageUrl" [alt]="item.name"
                                                    class="mb-3 img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-12 flex-grow-1">
                                            <!-- heading -->
                                            <div class="text-small mb-1"><small>{{categoryData.name}}</small>
                                            </div>
                                            <h2 class="fs-6">{{item.name}}
                                            </h2>

                                            <div>

                                                <small class="text-warning"> <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i></small> <span
                                                    class="text-muted small">{{item.ratingValue}}({{item.ratingCount}})</span>
                                            </div>


                                            <!-- price -->
                                            <div><span class="text-dark">{{item.price | currency}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </section>
            </div>
        </div>
    </div>
</section>